.BtnBarBtn {
    border-radius: 0;
    background-color: #145F76;
    border-color: #145F76;
    margin: 5px 1px 0 0;

    min-width: 75px;
}

.BtnBarBtn:hover {
    background-color: #378aa3;
    border-color: #378aa3;
}

.BtnBarBtn:focus {
    background-color: #378aa3;
    border-color: #378aa3;
    box-shadow: none;
}

.Btn {
    border-radius: 0;
    background-color: #0048ff;
    border-color: #0048ff;
    margin: 5px 1px 0 0;
    min-width: 75px;
    font-size: 1.2rem;
}

.Btn:hover {
    background-color: #3361d4;
    border-color: #3361d4;
}

.Btn:focus {
    background-color: #3361d4;
    border-color: #3361d4;
    box-shadow: none;
}