.NavBar {
    background-color: #FFF;
    padding: 15px;
    border-bottom: 1px solid gray;
}

.Active {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 4px;
}

.NavLink {
    padding: 5px;
}