.NotCompleted {
    font-size: 4rem;
    cursor: auto;
    color: red;
}

.NoMargins {
    margin: 0;
}

.TableCol {
    width: 50%;
}

.Heading1 {
    padding: 0 20px;
}

.Heading2 {
    font-size: 1.5rem;
}

.Description {
    font-size: 1.3rem;
}

.BiggerText {
    font-size: 1.2rem;
}

.QuizMedia {
    flex-basis: 50%;
}

.Timer {
    padding: 10px;
    font-size: 1.5rem;
    border: solid 1px black;
    background-color: red;
}

@media screen and (max-width: 530px) {

    .QuizMedia {
        flex-basis: auto;
    }

}