.ScoreIcon {
    font-size: 4rem;
    cursor: auto;
}

.NotCompleted {
    color: #e91313;
}

.Completed {
    color: green;
}

.NotGuessed {
    color: #e91313;
}

.LoggedOut {
    color: #969494;
}

.NoMargins {
    margin: 0;
}

.Heading1 {
    padding: 0 20px;
}

.Heading2 {
    font-size: 1.5rem;
}

.Description {
    font-size: 1.3rem;
}

.BiggerText {
    font-size: 1.2rem;
}

.QuizMedia {
    flex-basis: 50%;
}

.Table {
    text-align: center;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    border: 1px rgb(150, 148, 148) solid;
    font-size: 1.1rem;
    font-weight: 500;
}

.TableHead {
    background: #292929;;
    color: #fff;
    width: 50%;
}

.TableCell {
    animation: guessed 1.2s;
}

.Icon {
    font-size: 2.5rem;
}

.IconContainer {
    width: max-content;
    margin: 0;
    padding: 0 5px;
}

.LikeOutline {
    color: #969494;
}

.LikeOutline:hover {
    color: #ff5900;
}

.LikeFill {
    color: #0048ff;
}

.TimeText {
    min-height: 46px;
    line-height: 46px;
    margin: 0;
}

@keyframes guessed {
    from {background-color: red;}
    to {background-color: #fff;}
  }

@media screen and (max-width: 530px) {

    .QuizMedia {
        flex-basis: auto;
    }

}

@media screen and (min-width: 530px) {

    .Guess {
        min-width: 400px;
    }

}