.NotCompleted {
    font-size: 4rem;
    cursor: auto;
    color: red;
}

.Completed {
    font-size: 4rem;
    cursor: auto;
    color: green;
}

.NoMargins {
    margin: 0;
}

.Heading1 {
    padding: 0 20px;
}

.Heading2 {
    font-size: 1.5rem;
}

.Description {
    font-size: 1.3rem;
}

.BiggerText {
    font-size: 1.2rem;
}

.QuizMedia {
    flex-basis: 50%;
}

.Table {
    text-align: center;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    border: 1px rgb(150, 148, 148) solid;
    font-size: 1.1rem;
}

.TableHead {
    background: #292929;;
    color: #fff;
    width: 50%;
}

.Like {
    font-size: 2.5rem;
}

.LikeOutline {
    color: rgb(150, 148, 148);
}

.LikeOutline:hover {
    color: #ff5900;
}

.LikeFill {
    color: #0048ff;
}

@media screen and (max-width: 530px) {

    .QuizMedia {
        flex-basis: auto;
    }

}

@media screen and (min-width: 530px) {

    .Guess {
        min-width: 400px;
    }

}